* {
	box-sizing: border-box;
}

/*  ===  BACKGROUNDS, COLORS AND TYPOGRAPHY  ===  */

body {
	background: url("https://orange.codeberryschool.com/content/images/project-assets/wedding-landing-background.png") repeat;
	color: #444349;
	line-height: 1.5;
	font-size: 1.125rem;
}

a {
	text-decoration: none;
	color: #bd806e;
}

a:hover {
	color: #eda087;
}

header {
	background: url("https://orange.codeberryschool.com/content/images/project-assets/wedding-landing-cover.jpg") no-repeat 70% center/cover;
	height: 100vh;
	width: 100vw;
}

.wrapper {
	background-color: rgba(0,0,0,.4); border 1px solid red;
	text-align: center;
	color: #fcfbf7;
	font-size: 1.25rem;
	letter-spacing: .1rem;
}

.names {
	color: #d2ba87;
	font-size: 3.15rem;
}

.marriedTagline {
	letter-spacing: .15rem;
}

.program, .questionsSection {
	background-color: hsla(100, 0%, 0%, .6);
	color: #d2ba87;
}

.locationComponent, .program, .questionsSection, footer, p, address {
	font-family: "Muli", sans-serif;
}

.gifts p, .contact p {
	font-family: "Libre Baskerville", serif;
	text-align: center;
}

h1, h2 {
	font-family:"Great Vibes", cursive;
}

h1, h2, h3 {
	font-size: 3rem;
	text-align: center;
}

h3 {
	font: bold 1.5rem "Libre Baskerville", serif;
}

.question {
	font-weight: 600;
}

.program .tagline {
	font-style: italic;
}

footer {
	background-color: #606060;
	color: #fcfbf7;
	font-size: .875rem;
	text-align: center;
}
address {
	font-family: inherit;
}

/*  ===  PSEUDO ELEMENTS  ===  */

.marriedTagline::after {
	content: "";
	display: block;
	background-color: #fcfbf7;
	width: 45%;
	height: 1px;
	margin: .4rem auto;
}

.date::before, .date::after {
	content: "";
	background-color: #fcfbf7;
	width: 1.5rem;
	height: 1px;
	display: inline-block;
	vertical-align: middle;
	margin: 0 .5rem;
}

.locationComponent::after {
	content: "";
    background-color: #444349;
    display: block;
    height: .1875rem;
    width: 25vw;
    margin: 1.5rem auto;
}

.questionsCategory::after {
	content: "";
    background-color: #d2ba87;
    display: block;
    height: .1875rem;
    width: 54vw;
    margin: 1.5rem auto;
}

/*  ===  LAYOUT  ===  */

header .wrapper {
	position: absolute;
	top:50%;
	transform: translateY(-50%);
	width: 100vw;
	padding: .5rem;
}

main > section {
	padding: 2rem .7rem;
}

h2 {
	margin-bottom: 1.7rem;
}

h3 {
	margin-bottom: 1.7rem;
}

img {
	height: 8rem;
	display: block;
	margin: 1.7rem auto;
}

.locationComponent address {
	display: block;
	margin: .75rem auto;
	text-align: center;
	width: 75vw;
}

.locationComponent address span {
	display: block;
}

.gifts .bringYourself {
	max-width: 90%;
	margin: 0 auto;
}

.question {
	margin: 1.5rem 0 .5rem;
}

.questionsSection {
	padding-bottom: .7rem;
}

.contact p {
	max-width: 90%;
	margin: 1rem auto;
}

footer {
	padding: 1.4rem 1.7rem;
}